<h1>Blog ({{articles | length}} articles) </h1>

{% for article in articles %}
    <!--affiche les articles avec leurs id, titre et contenant.-->
    <article>
        <h2><a href="/articles/articles/{{article.id}} ">#{{article.id}} - {{article.title}}</a></h2>
        <p>{{article.body|truncatewords:3}}</p>

        <p><a href="/articles/articles/{{article.id}}">Lire la suite</a></p>
    </article>
    <!--trace un trai entre les articles-->
    {% if not forloop.last %}
        <hr>
    {% endif %}
    <!--affiche le message si aucun article c.à.d si list posts vide.-->
    {% empty %}
        <p>Sorry, no articles available.</p>
{% endfor %}
