<h1>Blog ({{posts | length}} posts) </h1>

{% for post in posts %}
    <!--affiche les articles avec leurs id, titre et contenant.-->
    <article>
        <h2><a href="/articles/posts/{{post.id}} ">#{{post.id}} - {{post.title}}</a></h2>
        <p>{{post.body|truncatewords:3}}</p>

        <p><a href="/articles/posts/{{post.id}}">Lire la suite</a></p>
    </article>
    <!--trace un trai entre les articles-->
    {% if not forloop.last %}
        <hr>
    {% endif %}
    <!--affiche le message si aucun article c.à.d si list posts vide.-->
    {% empty %}
        <p>Sorry, no posts available.</p>
{% endfor %}
